*{
    box-sizing: border-box;
}
.userContainer{
    background-color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

.avatarBlock{
    width: 20%;
    align-items: center;
}

.avatarPhoto{
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
}

.followButton {
	background:linear-gradient(to bottom, #296fe6 5%, #0505fc 100%);
	background-color:#296fe6;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
    width: 100%;
	text-decoration:none;
}
.followButton:hover {
	background:linear-gradient(to bottom, #0505fc 5%, #296fe6 100%);
	background-color:#0505fc;
}
.followButton:active {
	position:relative;
	top:1px;
}


.infoBlock{
    width: 80%;
    padding: 10px;
}