.nav{
  grid-area: n;
  margin: 0 5px 5px 0;
  padding: 10px;
  
  background-color: rgb(60, 60, 224);
  border-radius: 10px;
}
.item{
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  padding: 10px;
}
.item.setings{
  margin: 50px 0;
}
.item a {
  text-decoration: none;
  color: #ffffff;
}
.item:hover{
  background-color: rgb(36, 3, 180);
  border-radius: 10px;
}
.item:active {
  background-color: rgb(226, 224, 238);
  border-radius: 10px;
  color: blue;
}

.item a:active{
  color: rgb(36, 3, 180);
}



/**/